body {
	
	color: black;
	font-family: "Open Sans";
	font-size: 18px;

}




a{
	color: grey;
	font-style: italic;
}




h1{
	/* 
		This is how we comment in css style
	*/
	text-align: center;
	font-family: "Poppins";
	font-size:  90px;
	color: black;
	
}




h2{
	text-align: center;
	font-family: "Poppins";
	font-size: 30px;
	color: black;
}



h3{
	color: 	#0099cc;
	border-style: dashed;
}



